<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="VendingMachine" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Data\Inventory.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="VendingMachine.Test.Properties.Settings.InventoryConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Users\Alessandro\Documents\Visual Studio 2015\Projects\VendingMachine\VendingMachine\Data\Inventory.mdf&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>